body { 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0; 
    background-color: #282c34; 
    font-family: Arial, sans-serif; 
    color: white; 
}
#gameCanvas { border: 2px solid #00FF00; background-color: #000; }
#scoreBoard { 
    font-size: 24px; 
    margin-bottom: 20px; 
    display: flex; 
    justify-content: space-between; 
    width: 250px; 
}
.digital { 
    font-family: 'Digital-7 Mono', monospace; 
    font-size: 28px; 
    color: #00FF00; 
}
